* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #F6F4F3;
    color: #86654B;
}

.logo {
    width: 10%;
    height: auto;
    margin-top: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 170px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: 20px;
}
.active-link{
    font-weight: bold;
}
.nav-link {
    text-decoration: none;
    color: #86654B;
    transition: font-weight 0.5s;
}

.nav-link:hover {
    font-weight: bold;
}
.nav-connect {
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(to right, #978949, #d3cbb8);
    color: #F6F4F3;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.nav-connect:hover {
    transform: scale(1.05);
}


@media (max-width: 1335px) {
    .navbar {
        flex-direction: row;
        align-items: flex-start;
        padding: 20px;
    }

    .logo {
        width: 20%;
        /* margin-bottom: 20px;  */
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 12px;
        font-size: 17px;
        margin-top: 37px;
    }

    .nav-link {
        margin-left: 0;
    }

    .nav-connect {
        display: none;
    }
}