.passwordform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: plum;
}
h3{
    text-align: center;
    text-decoration: underline;
}
.form {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    margin-bottom: 2px;
}

input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

button {
    display: block;
    margin: 0 auto;
    background-color: rgb(55, 55, 253);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: lightblue;
    color: black;
    font-weight: bold;
}