.assignment-container {
    display: flex;
    flex-wrap: column;
    justify-content: space-between;
    line-height: 2.3;
    gap: 20px; 
    background-color: #F0F0F0; 
    padding: 20px;
  }
  
  .assignment {
    width: calc(50% - 20px); 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background: white;
  }
  
  .assignment h2 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
  }
  
  .assignment h3 {
    color: #666;
    margin-bottom: 5px;
  }
  
  .assignment ul {
    list-style: none;
    padding: 0;
  }
  
  .assignment ul li {
    margin-bottom: 10px;
  }
  
  .assignment .question {
    font-weight: bold;
    color: #000; 
  }
  
  .assignment .Instructions {
    color: #666; 
  }
  
  .assignment:nth-child(2) {
    margin-left: auto;
  }
  .assignment-container button{
    background-color: #DBDBDB;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin: 10px 5px 10px 5px;
  }
  
  .assignment-container button:hover{
    background-color: #666;
    color: white;
  }