.report-container {
    width: 100%; 
    height: auto; 
    overflow: hidden;
}
.report-container h1{
    text-align: center;
    color: #ADA996;
    margin-bottom: 20px;
}
.report-iframe {
    width: 100%;
    height: 100%;
    border: none;
  }